---
import WidgetWrapper from '../ui/WidgetWrapper.astro';
import type { CallToAction, Widget } from '~/types';
import Headline from '~/components/ui/Headline.astro';
import DynamicForm from './DynamicForm.astro';

interface Props extends Widget {
  title?: string;
  subtitle?: string;
  tagline?: string;
  callToAction?: CallToAction;
  actions?: string | CallToAction[];
}

const {
  id,
  isDark = false,
  classes = {},
} = Astro.props;

// Asignamos las variables que requieren 'await' después
const title = await Astro.slots.render('title');
const subtitle = await Astro.slots.render('subtitle');
const tagline = await Astro.slots.render('tagline');
const bg = await Astro.slots.render('bg');
---

<WidgetWrapper id={id} isDark={isDark} containerClass={`max-w-6xl mx-auto ${classes?.container ?? ''}`} bg={bg}>
  <div
    class="max-w-3xl mx-auto text-center p-6 rounded-md shadow-xl dark:shadow-none dark:border dark:border-slate-600"
  >
    <!-- Headline -->
    <Headline
      title={title}
      subtitle={subtitle}
      tagline={tagline}
      classes={{
        container: 'mb-0 md:mb-0',
        title: 'text-4xl md:text-4xl font-bold tracking-tighter mb-4 font-heading',
        subtitle: 'text-xl text-muted dark:text-slate-400',
      }}
    />

    <!-- Formulario Dinámico con botón de envío incluido -->
    <div class="mt-8 w-full">
      <DynamicForm />
    </div>
  </div>
</WidgetWrapper>
