---
import sendGrid from '@sendgrid/mail';
import 'dotenv/config';
import Button from '~/components/ui/Button.astro';
import type { Form as Props } from '~/types';

sendGrid.setApiKey( import.meta.env.SENDGRID_API_KEY );

//Verificamos 
if (Astro.request.method === 'POST') {
  try{
    // Getting posted data from our contact form
    const data = await Astro.request.formData();
    const name = data.get('name');
    const enterprise = data.get('empresa');
    const cantidad = data.get('cantidad');
    const medida = data.get('medida');
    const acabado = data.get('acabado');
    const email = data.get('email');
    const message = data.get('message');

    console.log(message);
    // TODO: Do not forget to do validation and error handling over received data from your contact form.

    // Sending email
    const msg = {
      to: email, // Change to your recipient
      from: 'noreply@reprodisseny.com', // Change to your verified sender
      replyTo: {email:email, name:name},
      subject: `Contact form submission from ${name}`,
      text: ` <p>Tens una nova petici贸 de preus per calendaris:</p>
              Nom: ${name}
              Empresa: ${enterprise}
              Email: ${email}
              Tipus: ${acabado}
              Mesura: ${medida}
              Quantitat: ${cantidad} 
              `
              
    }
    await sendGrid.send(msg).then(() => {
      console.log('Email sent')
    }).catch((error) => {
      console.error(error)
    });

  } catch (error) {
    console.error(error);
  }

}
---

<form method="POST" class="space-y-6">
  <!-- Campo para Nombre -->
  <div class="mb-6">
    <label for="name" class="block text-sm font-medium">Nombre</label>
    <input
      type="text"
      name="name"
      id="name"
      required
      class="py-3 px-4 block w-full text-md rounded-lg border border-gray-200"
      placeholder="Ingresa tu nombre"
    />
  </div>
  <!-- Campo para Empresa -->
  <div class="mb-6">
    <label for="empresa" class="block text-sm font-medium">Empresa</label>
    <input
      type="text"
      name="empresa"
      id="empresa"
      required
      class="py-3 px-4 block w-full text-md rounded-lg border border-gray-200"
      placeholder="Ingresa tu nombre"
    />
  </div>
 <!-- Campo para Correo Electr贸nico -->
  <div class="mb-6">
    <label for="email" class="block text-sm font-medium">Correo electr贸nico</label>
    <input
      type="email"
      name="email"
      id="email"
      required
      class="py-3 px-4 block w-full text-md rounded-lg border border-gray-200"
      placeholder="Ingresa tu correo electr贸nico"
    />
  </div>
    <!-- Campo para Cantidad -->
  <div class="mb-6">
    <label for="cantidad" class="block text-sm font-medium">Cantidad</label>
    <select name="cantidad" id="cantidad" required class="py-3 px-4 block w-full text-md rounded-lg border border-gray-200">
      <option value="" disabled selected>Selecciona cantidad</option>
      <option value="50">50</option>
      <option value="100">100</option>
      <option value="250">250</option>
      <option value="500">500</option>
    </select>
  </div>
    <!-- Campo para Medida -->
  <div class="mb-6">
    <label for="medida" class="block text-sm font-medium">Medida</label>
    <select name="medida" id="medida" required class="py-3 px-4 block w-full text-md rounded-lg border border-gray-200">
      <option value="" disabled selected>Selecciona medida</option>
      <option value="A4">A4</option>
      <option value="A3">A3</option>
    </select>
  </div>
  <div class="mb-6">
    <label for="acabado" class="block text-sm font-medium">Medida</label>
    <select name="acabado" id="acabado" required class="py-3 px-4 block w-full text-md rounded-lg border border-gray-200">
      <option value="" disabled selected>Selecciona medida</option>
      <option value="Brillo">Brillo</option>
      <option value="Mate">Mate</option>
    </select>
  </div>
  <Button type="submit" variant="primary">Enviar</Button>
</form>